<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: html_head">
	<title>Home</title>
</head>
<body>
	<div th:replace="fragments/header.html :: header"></div>
	<div class="container mt-5">
		<h1 class="h1 text-center" th:text="${movie.movieName}"></h1>
		<h4 class="h4 text-center font-weight-light" th:text="${movie.genre.genreName}"></h4>
		<div class="row mt-5">
			<div class="col text-center">
				<img class="rounded" style="max-width:400px; object-fit:cover;" th:src="@{/movies/image/{id}(id=${movie.id})}"/>
			</div>
			<div class="col">
				<h4 class="h4 font-weight-normal">Storyline</h4>
				<p class="mt-4" th:text="${movie.description}"></p>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>