<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header.html :: html_head">
    <title>Login</title>
</head>
<body>
    <div th:include="fragments/header.html :: header"></div>
    <div class="container mt-5" style="max-width: 300px">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post" class="mt-3">
            <div th:if="${param.error}" class="alert alert-danger">
                Invalid username and password.
            </div>
            <div class="mb-3">
                <label for="inputUsername" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="inputUsername">
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
    </div>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>